<h2>Twitter user ID : <%= @user.twitter_display_name %></h2>
<p>ID in Mongo DB : <%= @user.id%> </p>
<p> Change in followers : <%= @user.del_followers%> </p>
<p> Change in following : <%= @user.del_following%> </p>

<%=link_to "Load Different Twitter User", new_user_url%>