<h1>Twitter user ID : <%= @user.twitter_display_name %></h1>
<p>ID in Mongo DB : <%= @user.id%> </p>
<p> Change in followers : <%= @user.del_followers%> </p>
<p> Change in following : <%= @user.del_following%> </p>

<h2>Last Three Tweets from <%= @user.twitter_display_name %></h2>



<script type="text/javascript">
loadLastThreeTweets(@user.twitter_display_name);
</script>
 <%@timeline.each do |status|%>
 <p> <%= status.text %> </p>
 <% end %>
 
<%=link_to "Add Different Twitter User to MongoDB", new_user_url%>