<!DOCTYPE html>
<html>
<head>
  <title>Twitter API Testing</title>
<!--   <%= stylesheet_link_tag :all %> -->
<!--   <%= csrf_meta_tag %> -->

<%= javascript_include_tag "application" %>
</head>
<body>
  <h1>Twitter API MongoDB Test</h1>  
  <p>Menu: <%=link_to "All Stored Twitter Users", users_index_path %></p>
  <hr />
  <%if flash[:notice]%><div class='notice'><%=flash[:notice]%></div><%end%>
  <%= yield %>

</body>
</html>
